repos:
  - repo: "https://github.com/alessandrojcm/commitlint-pre-commit-hook"
    rev: "v9.7.0"
    hooks:
      - id: "commitlint"
        stages: [commit-msg]
        additional_dependencies:
          - commitlint-plugin-function-rules
          - '@commitlint/config-conventional'
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: "v4.5.0"
    hooks:
      - id: end-of-file-fixer
      - id: trailing-whitespace
      - id: mixed-line-ending
      - id: check-added-large-files
      - id: check-merge-conflict
  - repo: https://github.com/golangci/golangci-lint
    rev: v1.55.2
    hooks:
      - id: golangci-lint-full
